@model ChainVisionApp.Models.DashboardViewModel
@{
    ViewData["Title"] = "ChainVision";
    var sugarDataJson = Json.Serialize(Model.SugarData);
    var wheatDataJson = Json.Serialize(Model.WheatData);
    var cocoaDataJson = Json.Serialize(Model.CocoaData);
    var springwheatDataJson = Json.Serialize(Model.SpringWheatData);
    var alerts = Json.Serialize(Model.AlertNewsData);
}

<div class="containerMain">
        <div id="columnOne" class="columns-vertical">
            <div class="d-flex flex-column justify-content-center align-items-center gap-2 mt-4">
                <h1 class="Title">Dashboard</h1>                    
                <div id="Canvas-box" class="box" >
                    <canvas id="Canvas-Main"></canvas>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
                <button id="Price" class="Graph-Switch">Price</button>
                <button id="Inventory" class="Graph-Switch">Live Inventory</button>
                <button id="Tariff" class="Graph-Switch">Tariffs</button>
            </div>
        </div>
        <div id="columnTwo" class="columns-vertical">
            <h2>Alerts</h2>
                <ul id="Alerts">
                    <li>No current alerts</li>
                </ul>
        </div>
    </div>
</div>
<footer>
    <div>
        Last Updated: 11/12/2024 19:34
    </div>
</footer>

<script type="text/javascript">
    console.log("Razor Data", @Html.Raw(sugarDataJson));
    window.SugarData = JSON.parse('@Html.Raw(sugarDataJson)');
    window.WheatData = JSON.parse('@Html.Raw(wheatDataJson)');
    window.CocoaData = JSON.parse('@Html.Raw(cocoaDataJson)');
    window.SpringWheatData = JSON.parse('@Html.Raw(springwheatDataJson)');
    window.alerts = JSON.parse('@Html.Raw(alerts)');
</script>
<script type="text/javascript" src="~/js/HomePage.js"></script>